<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EyePaint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <EyePaint.Properties.Settings>
      <setting name="AdminEmail" serializeAs="String">
        <value>default@default.default</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>default.default.default</value>
      </setting>
      <setting name="FlickrKey" serializeAs="String">
        <value>a81591b96318cd9799982c11663df750</value>
      </setting>
      <setting name="FlickrSecret" serializeAs="String">
        <value>05e84b538d7d4cf5</value>
      </setting>
      <setting name="Spacing" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Blink" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Inertia" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ConnectionAttempts" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FlickrVerificationCode" serializeAs="String">
        <value />
      </setting>
      <setting name="FlickrPhotoset" serializeAs="String">
        <value>Måla med ögonen</value>
      </setting>
      <setting name="FlickrTitle" serializeAs="String">
        <value>Målning med ögonen</value>
      </setting>
      <setting name="FlickrDescription" serializeAs="String">
        <value>En målning gjord med ögonen.</value>
      </setting>
      <setting name="FlickrTags" serializeAs="String">
        <value>MegaMindSTHLM, Tekniska museet, Måla med ögonen, Paint with your eyes</value>
      </setting>
      <setting name="Stability" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MinimumActivePaintTimeBeforeAllowingPublish" serializeAs="String">
        <value>30</value>
      </setting>
    </EyePaint.Properties.Settings>
  </userSettings>
</configuration>
